/* Remove a borda da div de login em telas <=600px */
.border-hide-mobile {
  border-width: 1px;
}
@media (max-width: 600px) {
  .border-hide-mobile {
    border-width: 0 !important;
  }
}
@import "tailwindcss";

html {
  font-size: 62.5%;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
